// Mailchimp styling for this template

#mc_embed_signup {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#mc-embedded-subscribe {
  margin-top: 15px;
}

#mce-EMAIL {
  font-size: 15px;
  padding: 7px;
}
